:root {
  --banner-height: 4vh;
}

.flex {
  display: flex;
}

div#board {
  margin: 0 auto;
}

.panel {
  border: 1px solid #2B313D;
  padding: 10px;
  height: calc(99.5vh - var(--banner-height));
}

.flex>.flex-bottom {
  display: inline-block;
  align-self: flex-end;
}

.small-info {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
}

.info-alert {
  color: crimson;
  font-weight: bolder;
}

.info-good {
  color: forestgreen;
  font-weight: bolder;
}

.banner {
  height: var(--banner-height);
  padding-left: 2vw;
  font-size: 1.2em;
}

#game-name {
  font-size: 1.3em;
  font-weight: bold;
}

#game-log {
  height: 94vh;
  width: 15vw;
  max-width: 15vw;
  max-height: calc(94vh - var(--banner-height));
  overflow-y: scroll;
}

#restricted {
  padding: 5px;
  border: 2px solid crimson;
  outline: 1px solid orange;
  outline-offset: 1px;
}